.site-nav {
  .shadow();
  background-color: @header-color ;
  padding: 30px 0;

  span {
    font-size: 35px;
    display: block;
    color: @font-logo;
    font-family: "PT Sans Narrow bold";
  }

  ul {
    &:extend(.ul-unstyled);
    float: left;
    margin-left: 15px;
    li {
      display: inline-block;

      a {
        .transition();
        display: block;
        color: #ffffff;
        font-family: Oswald;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        text-align: center;
        //margin-top: (50px - 17px)/2;
        padding: 24px 24px;
        &:active {
          color: @font-logo;
        }
        &:hover {
          color: @font-logo;
        }

      }


    }
  }
}


.nav-social {
  padding-left: 10px;
  ul {
    &:extend(.ul-unstyled);
    li {
      display: inline-block;
      margin-left: 0px;
      a {
        font-size: 18px;
        padding: 20px 15px;
      }
    }
  }
}

.nav-search {

  ul {
    &:extend(.ul-unstyled);
    li {
      display: inline-block;
      margin-left: 0px;
      a {
        font-size: 18px;
        padding: 20px 15px;
        color: #123f61;
        -webkit-font-smoothing: antialiased;
        text-shadow: none;
      }
    }
  }
}

//main article

.main-article {
  .shadow();
  clear: both;
  min-height: 0px;


  article {
    clear: both;
    background-color: #fff;
    text-align: right;

    .main-inner {
      padding: 5px 20px 30px;

      h2 {
        font-family: "PT Sans Narrow bold";
        color: @article-title;
        -webkit-font-smoothing: antialiased;
        text-shadow: none;
        line-height:  36/30;

        a {
          .transition();
          text-decoration: none;
          color: @article-title;
          &:hover {
            color: #404955;
          }
        }

      }
      .main-subtitle {
        font-family: "PT Sans Narrow bold";
        font-size: 13px;
        color: @sub-title;
        a {
          .a-heap()
        }
      }

      header {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 6px solid @bg-color;

      }

      .main-text {
        color: @article-title;
        letter-spacing: 0.5px;
        line-height: 1.1;
        border-bottom: 6px solid @bg-color;
        margin-bottom: 20px;
        padding-bottom: 15px;
      }

      footer {
        ul {
          float: left;
          &:extend(.ul-unstyled);
          color:@social-color;

          li {
            display: inline-block;
            margin-left: 10px;
            cursor: pointer;


            span {
              font-size: 12px;
            }
          }
        }
        a {
          .a-heap()

        }

        .ic:before {
          transition: transform 0.5s;
          opacity: 1;


        }
        .ic-move{
          transform: scale3d(2,2,0.1);
        }
        .ic-move:before{


          transition: opacity 1s;
          opacity: 0;
        }
      }


    }


    .he-img {
      display: block;

      overflow: hidden;
      height: 290px;

    }

    img {
      .transition();
      margin: 20px;
      display: block;
      float: right;
      border: none;

    }
  }
}



//sidebar

.he-sidebar {
  .shadow();
  clear: both;
  min-height: 0px;
  background-color: #fff;

  .sidebar-inner {
    padding: 5px 20px 30px;

    header {
      h5 {
        .block-header()
      }


    }
    .best-content {
      min-height: 100px;


      ul {
        &:extend(.ul-unstyled);
        li {
          display: inline-block;
          margin-left: 10px;
          border-bottom: 6px solid @bg-color;

        }

      }
      .img-content{
        float: left;
        margin: 0 15px 25px 0;



        a {

          display: block;


          img {
            .transition();
            width: 75px;
            height: 75px;
            margin-top: 30%;
          }
        }
      }

      h5 {
        font-family: "PT Sans Narrow bold";
        color: @article-title;
        -webkit-font-smoothing: antialiased;
        text-shadow: none;
        line-height:  36/30;
        a {
          .a-heap();
        }

      }
      p {
        color: @article-title;
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 1.1;
        padding-bottom: 10px;
      }
    }
  }
}


//articles
.he-articles {
  padding: 20px 0;
  article {
      clear: both;
      background-color: #fff;
    .article-entry {
      .shadow();
      clear: both;
      min-height: 0px;

    }
    }

}

